.create-form{
    width: 100%;
    background-color: var(--background-second);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h2{
        margin-bottom: 2rem;
    }

    form{
        display: flex;
        flex-direction: column;
    }

    label{
        font-weight: bold;
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
        margin-top: 0.7rem;
    }

    textarea{
        resize: none;
    }

    input[type=text], textarea{
        padding: 0.2rem 0.5rem;
        border-radius: 5px;
        border: none;

        &:focus, textarea:focus{
            outline: none;
            box-shadow: 0 0 5px white;
        }
    }

    input[type=submit]{
        margin-top: 1rem;
        border: 2px solid black;
        padding: 0.5rem;
        border-radius: 20px;
        width: 130px;
        font-weight: bold;
        transform: translateX(50%);
        color: white;
        background: transparent;
        transition: .5s;
        cursor: pointer;

        &:hover{
            background-color: white;
            color: black;
        }
    }
}